*
{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li a:hover
{
    color: orange;
}
spanh1
{
    color: orange;
    font-size: xx-large;
}
.logo
{
    height: 50px;
}
#About
{
    margin-top: 50px;
    text-align: center;
}
span
{
    font-weight: bold;
    color: orange;
}
#body
{
    margin-top: 80px;
}
h1
{
    font-weight: bold;
}
p1
{
    color: gray;
    font-size: larger;
}
#para2
{
    font-weight: bold;
    margin-top: 80px;
    background-color: black;
}
#body2
{
    margin-top: 80px;
}
#body3
{
    margin-top: 80px;
}
#footer
{
    margin-top: 80px;
    background-color: black;
    color: white;
}
span2
{
 font-size: small;   
}
span3
{
    font-size: large;
    font-weight: bold;
}
span4
{
    color: white;
    font-size: small;
}
span4 a:hover
{
    text-decoration: underline;
    color: white;
}
span4 a
{
    color: orange;
    font-size: small;
    text-decoration: none;
}
#copyrights
{
    text-align: center;
    margin-top: 100px;
}